<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakeapi</title>
</head>

<body>
    <h1>Listado de peliculas</h1>
    <main>
        <article>
            <div class="image-container">
                <img src="" alt="">
            </div>

            <div>
                <h2>Nombre:</h2>
            </div>

            <div>
                <h2>
                    <h2>Director:</h2>
                </h2>
            </div>
            
            <div>
                <h2>Ano de lanzamiento:</h2>
            </div>
        </article>
    </main>
</body>

</html>

<router-outlet />
